<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/style.css">
         <title>
            About
        </title>
        <link rel="icon" href="/images/weather.png"
    </head>
    <body>
        <div>
           {{>header}}

        <h1>
            {{name}}
        </h1>
        <img src="images/image1.png">
        <h2>this is me {{age}}</h2>
        </div>
        
         {{>foooter}}
        <script src="javascript/script.js"></script>
    </body>
</html>