<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/style.css">
         <title>
            My website
        </title>
        <link rel="icon" href="/images/weather.png"
    </head>
    <body>
{{>header}}
        <h1>
           {{name}}
        </h1>
        <img src="/images/image1.png">
        <p>here is our  {{age}}</p>
        <script src="/javascript/script.js"></script>
         {{>foooter}}
    </body>
</html>