<html>
    <head>
        <title>
            404 error
        </title>
        <link rel="icon" href="/images/weather.png"
        <link rel="stylesheet" href="/style/style.css">
        <body>
            <div class="main-content">
                    {{>header}}
             <h1>{{error}}</h1>
            </div>
            
            {{>foooter}}
           
        </body>
    </head>
</html>